header{
    background-color: #0e0e10;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

header ul{
    margin:0px;
    padding: 0;
}

header li{
    display: inline-block;
    width: 80px;
    padding: 10px 0px; 
    text-align: center;
}

header li:hover{
    background-color: whitesmoke;
    color: black;
    transition: color 1s ease, background 1s ease;
}

.title{
    text-align: center;
}

.title h1 {
    margin-bottom: 0px;
}

.grid {
    display: grid;
    width: 60%;
    margin: 60px auto 0 auto;
}

.first{
    grid-template: 200px / 1fr 1fr 1fr;
    background-color: #E8E8E8;
}

.second {
    margin-top: 0px;
    grid-template: 300px / 1fr 1fr;
    background-color: #E8E8E8;
}

.grid .box{
    border: 1px solid black;
}

.box img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


body{
    background-color:#27292b;
    color: white;
    margin: 0px;
}

.spans {
    width: 100%;
    text-align: center;
    margin: 50px auto 10px auto;
}

.spans .player , .opposer {
    display: inline-block;
    margin: auto 150px;
}